<link rel="stylesheet" type="text/css" href="/stylesheets/alunos.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="headerBar">
    <div class="headerLeft">
        <img class="backIcon" src="/assets/goBack.png" onclick="window.location='/homepage/D'" />
        <p class="headerText">Lista de Alunos</p>
    </div>

    <div>
        <form action="/logout" method="post">
            <button class="btnlog" type="submit">
                <img class="iconbtn" src="/assets/logout.png" />
            </button>
        </form>
    </div>
</div>
<ul>
    <% alunos.forEach(function (user) { %>
        <li>
            <div class="spanUser">
                <h1 class="textUser">
                    <%= user.nome_aluno %> - <%= user.nome_ee %>
                </h1>
                <div class="btnUser">
                    <button type="button" class="btn btn-primary"
                        onclick="window.location='/homepage/D/<%= turma %>/<%= user.id %>/relatorios'">Relatórios</button>
                    <button type="button" class="btn btn-primary"
                        onclick="window.location='/homepage/D/<%= turma %>/<%= user.id %>/mensagens'">Mensagens</button>
                </div>
            </div>
        </li>
        <% }) %>
</ul>